script(type="text/javascript" src="demo.js")
link(href="./style.styl" rel="stylesheet")
h1 Welcome to the Demo Page
h3 Test view
div#viewdemo
  div.bi
    div(bi="name") J-bob
    div(bi="fruit") Kiwi
    div(bi="recursive.recursive.recursivething") Deep check
//form#viewdemoform
  div.bi
    input(bi="name", type="text", value="hhgh")
    input(bi="fruit" type="text", value="hhgh")
    input(bi="recursive.recursive.recursivething", type="text", value="hhgh")
form#viewdemoform
  div.bi
    input(bi="name", type="text", value="hhgh")
    select(bi="fruit")
      option(value="bill") Bill
      option(value="apple") Apple
      optgroup(label="testing")
        option(value="john") John
        option(value="frank") Frank
    input(bi="fruit" type="text", value="hhgh")
    textarea(bi="recursive.recursive.recursivething") hghghg
    div
      input(bi="fruit", type="radio", id="fruitChoice1", name="fruit", value="bill")
      label(for="fruitChoice1") Bill
      input(bi="fruit", type="radio", id="fruitChoice2", name="fruit", value="apple")
      label(for="fruitChoice2") Apple
      input(bi="fruit", type="radio", id="fruitChoice3", name="fruit", value="sam")
      label(for="fruitChoice3") Sam
  input(bi="fruit", list="data_fruit", name="fruit", id="fruit")
  datalist#data_fruit
    option(value="bill")
    option(value="Apple")
    option(value="john")
    option(value="frank")
    option(value="jim-bob")
  input#truth(bi="truthy", type="checkbox")
  label(for="truth") Truthy
  select(bi="truthy")
    option(value="true") True
    option(value="false") False
